/* Navbar */



/* About Me */

.about {
    margin: 15px;
}
    #about-img {

    }

    #about-p {
        float: right;
    }

/* Portfolio */

.card {
    margin: 15px;
    float: left;
}

/* Contact */

form {
    margin: 15px;
}

    .form-group {
        max-width: 600px;
    }

    .emailHelp {
        margin: 15px;
    }


/* Mobile */

@media screen and (max-width: 992px) {
    body p {
        margin-top: 15px;
    }
}

